/* ------------------ */
/* Main and Resuables */
/* ------------------ */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 20px;
  box-sizing: border-box;
  
  
}
@keyframes pulse {
  from {opacity: 0;}
  to {opacity: 1;}
}
.loading {
  display: block;
  width: 150px;
  text-align: center;
  margin: 200px auto; 
}
a:disabled {
  color: black;
}
.link {
  color: white;
  text-decoration: none;
}

button:disabled{
  cursor: not-allowed;
}
.not-logged {
  margin-top: 25px;
}
h1 {
  font-size: 200%;
  font-weight: 100;
  color: #e67e22;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
h3 {
  font-size: 110%;
  font-weight: 300;
  color: white;
  word-spacing: 1px;
  letter-spacing: 1px;
}

/* body:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 1500;
} */
.button {
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

input {
  outline: none;
}
.button:hover,
.button:active {
  background-color: #e67e22;
}
.arrow-button {
  /* padding: 20px; */
  width: 70px;
  transition: all 0.3s;
  /* border: none; */
  cursor: pointer;
  position: relative;
  top: 3px;
  height: 50px;
  left: -2px;
}
.arrow-button:hover,
.arrow-button:active {
  background-color: #e67e22;
  outline: none;
  border-style: solid;
  color: white;
  border-color: #e67e22;
}
/* ------------------ */
/* Nav Section*/
/* ------------------ */
nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #271504;
  /* height: 100px; */
  overflow: auto;
  color: white;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-options {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  float: left;
}
.nav-options li{
  display: inline-block;
  margin-top: 10px;
}
.nav-user {
  float: right;
}
.nav-user li {
  display: inline-block;
  margin-right: 20px;
}
.nav-user li img{
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  border-radius: 50%;
}
.nav-user::after{
  content: "";
  clear: both;
}

/* ------------------ */
/* Sign in */
/* ------------------ */
.signin-container {
  margin: 80px auto;
  width: 450px;
  height: 550px;
  background-color: #271504;
  border: 1px solid black;
  border-radius: 30px;
  color: white;
  text-align: center;
  padding-top: 120px;
  /* transition: all 0.3s; */
  animation-name: signin;
  animation-duration: 1s;
  z-index: 5000;
  position: relative;
}
@keyframes signin {
  from {top: -500px; opacity: 0;}
  to {top: 0px; opacity: 1;}
}
.logo {
  width: 250px;
  border-radius: 50%;
  background-color: #e67e22;
  position: absolute;
  border: 1px solid black;
  top: 0;
  transform: translate(-50%, -50%);
}

.signin-container p {
  display: inline-block;
  margin-right: 10px;
}
.user-input {
  margin-bottom: 200px;
}

.user-drop-area {
  position: relative;
  display: inline-block;
}
.user-input input:disabled {
  background-color: white;
}
.signin-button {
  display: inline-block;
  margin: 40px auto;
  padding: 10px 20px;
  border-radius: 500px;
  border: 1px solid #e67e22;
  background-color: #e67e22;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}
.signin-button:hover,
.signin-button:active {
  background-color: #bf6516;
  color: white;
  
}
.user-drop-options-hidden {
  position: absolute;
  width: 98.5%;
  background-color: white;
  max-height: 0;
  visibility: hidden;
  overflow-y: scroll;
  top: 53px;
  left: 2px;

  transition: all 0.3s linear;

}
.arrow-button span{
  display: inline-block;
  transition: transform 0.3s;
}
.revolve {
  transform: rotate(180deg);
}
.show {
  max-height: 300px;
  visibility: visible;
}
.user-choice{
  color: black;
  cursor: pointer;
  transition: all 0.3s;
  text-align: left;
}
.user-selected {
  background-color: white;
  display: inline-block;
  border: 2px solid black;
  padding: 0;
  width: 250px;
  text-align: left;
  padding-left: 10px;
}
.user-selected img{
  width: 50px;
  vertical-align: middle;
  border-radius: 50%;
}
.user-selected p {
  color: black;
  font-size: 100%;
  margin-left: 5px;
  font-size: 80%;
}
.user-choice:hover{
  color: white;
  background-color: #e67e22;

}
.user-choice img{
  display: inline-block;
  margin: 10px;
  vertical-align: middle;

  width: 50px;
  border-radius: 50%;
}
.user-choice p {
  display: inline-block;
  font-size: 80%;
}
/* ------------------ */
/* New Question */
/* ------------------ */
.new-question {
  max-width: 1200px;
  margin: 60px auto;
  text-align: center;
  border-radius: 30px;
  background-color: #271504;
  padding: 1%;
  animation-name: pulse;
  animation-duration: 0.5s;
  
}
.text-areas {
  position: relative;
}
.text-areas::after {
  content: "?";
  top: 50%;
  font-size: 300%;
  font-weight: 100;
  color: #e67e22;
  padding: 10px 35px;
  border-radius: 50%;
  background-color: #271504;
  border: 1px solid #271504;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1500;
}
.new-question textarea,
.text-areas div {
  display: inline-block;
  width: 49%;
  height: 300px;
  padding: 5px 50px;
  resize: none;
  outline: none;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  /* position: relative; */
  color: black;
  font-weight: 400;
}
.text-areas {
  margin-bottom: 50px;
  animation-name: puls;
  animation-duration: 10s; 
}
.text-areas div {
  /* cursor: pointer; */
  text-align: center;
}
.new-question textarea:hover,
.text-areas div:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
}


.red-text-area {
  background-color: #e74c3c;
  position: relative;
  cursor: pointer;
  animation-name: puls;
  animation-duration: 10s;  
}

.blue-text-area {
  background-color: #3498db;
  position: relative;
  cursor: pointer;
  animation-name: puls;
  animation-duration: 10s; 
}
.selected {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
  cursor: default;
}



/* ------------------ */
/* Questions */
/* ------------------ */
.all-questions-container {
  max-width: 700px;
  margin: 40px auto;
  background-color: #271504;
  border-radius: 30px;
  animation-name: pulse;
  animation-duration: 0.5s;
  
}

.questions-category-right {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.questions-category-right:hover {
  background-color: #e67e22;
  border-top-right-radius: 30px;
}
.questions-category-left {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.questions-category-left:hover {
  background-color: #e67e22;
  border-top-left-radius: 30px;
}
.question {
  padding: 20px;
  transition: all 0.3s;
  cursor: pointer;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.question:hover {
  background-color: #180c03;
}
.question img {
  width: 100%;
  border-radius: 50%;
}
.question h3 {
  color: #e67e22;
  font-size: 130%;
}
.question p {
  width: 100%;
  text-align: left;
  display: inline-block;
  margin: 15px;
}
.user-data {
  display: inline-block;
  position: relative;
  top: -0;
  width: 15%;
  float: left
}

.question-brief {
  display: inline-block;
  margin-left: 10%;
  width: 75%;
  text-align: center;
}
.rather-choices {
  position: relative;
  margin-left: 40px;
}
.rather-choices::after {
  content: "OR";
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 0;
  padding: 5px 7px;
  border-radius: 50%;
  border: 1px solid black;
  color: #e67e22;
  background-color: white;

}
.red {
  color: #e74c3c;
}
.blue {
  color: #3498db;
}
.name {
  color: #e67e22;
  text-transform: uppercase;
  position: relative;
  top: -5px;
  left: -5px;
}

/* ------------------ */
/* Leader Board */
/* ------------------ */
.leader-board-container {
  max-width: 700px;
  margin: 40px auto;
  background-color: #271504;
  animation-name: pulse;
  animation-duration: 0.5s;
  border-radius: 30px;

}
.leader-board-item {
  padding: 30px;

}
.leader-board-item::after {
  content: "";
  display: block;
  clear: both;
}
.name-l {
  margin-top: 10px;
  margin-left: 15px;
  color: #e67e22;
  text-transform: uppercase;
}
.leader-board-item img {
  width: 100%;
  border-radius: 50%;
  
}
.answered {
  display: inline-block;
  width: 50%;
  float: left;
  margin-left: 10%;
  margin-top: 20px;
  color: #e67e22;
}
.answered p {
  margin-bottom: 10px;
  display: inline-block;
  width: 80%;
  color: white;
}
.answered span{
  display: inline-block;
  width: 20%;
  color: #e67e22;
}
.score {
  margin-left:5% ;
  width: 20%;
  float: left;
  text-align: center;
}
.score p {
  color: #e67e22;
  font-size: 300%;
}
.score span {
  color: #e67e22;
}

/* --------- */
/*  Vote */
/* --------- */
.percentage-vote {
  font-size: 300%;
  margin-top: 30px;
  font-weight: 300;
  color: #e67e22;
}
.number-vote {
  font-size: 150%;
  font-weight: 300;
  color:black;
  text-transform: uppercase;
  margin: 10px 0;
}
.check {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 300%;
  color:#271504;
}